* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(0, 50, 73);
  padding: 48px;
  color: white;
}

header {
  text-align: center;
}
header > p {
  margin: 16px 0px;
}

input { display: none; }

#music-area {
  margin-top: 16px;
}

#music-area button {
  background: rgb(61, 180, 115);
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border:none;

  color: white;
  font-weight: bold;

  cursor: pointer;
}

#music-area button:focus {
  outline: none;
}