* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular.ttf");
}

body, html {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;

  display: flex;
  align-items: center;
  font-family: "OpenSans";
}

button {
  -webkit-app-region: no-drag;
}



body {
  background-color: rgba(17, 17, 17, 0.8);
  color: white;
}

#cover-art {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(61, 180, 115);
}

#cover-art img {
  width:100%;
  height: 100%;
}

#playback {
  margin: auto;
  -webkit-app-region: no-drag;
}

#playback img {
  filter: invert(100%);
}

#previous {
  transform: scaleX(-1);
  
}

#quit {
  margin-left: auto;
  background-color: #eb4949;
  border: none;
  height:75px;
}

#quit svg {
  fill: white;
}

#metadata {
  margin-left:25px;
}